---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@font-face {
    font-family: 'Literata-Bold';
    src: url('../fonts/Literata-Bold.woff2') format('woff2'),
            url('../fonts/Literata-Bold.woff') format('woff'),
            url('../fonts/Literata-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

.site-title {
    font-family: 'Literata-Bold', serif;    
    vertical-align: bottom;
    font-weight: bold;
    margin: 0.2rem 0 0 0.2rem;
    font-size: 1.5rem;    
}

.site-subtitle {
    font-family: 'Literata-Bold', serif; 
    margin: 0.2rem 0 0 0.2rem;
    font-weight: bold;
    font-size: 1rem;    
}

.site-logo img {
    padding-top: 0.1rem;
    max-height: 2.7rem;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .flex-element-news {
    flex: 30%
  }

  @media (max-width: 660px) {
    .flex-element-news {
        flex: 100%
    }
  }